#gui {
    height: 17.045%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    bottom: 18%;
}

.gui-group {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.gui-group>div:not(.button) {
    padding: 14px 0;
}

.gui-group>div {
    margin: 0 2px;
}
